<p>rooms works!</p>
<h1>Welcome TO {{hotelName}}</h1>
<div [hidden]="toggle">
    <h3>number Of Rooms:</h3>
    <h3 [innerText]="numberOfRooms" ></h3>
</div>


<!-- {{rooms?.availableRooms ?? 'No Rooms Available' }} -->
<button (click)="toggleRoom()" >Hide</button>


<!-- <div *ngIf="rooms.availableRooms>1">
    <h3>Room List</h3>
</div> -->

<!-- //json Pipies -->
<!-- {{roomsList|json}} -->

<div>
    <button (click)="addRooms()" >
        Add Rooms
    </button>
</div>

<div *ngIf="rooms.availableRooms>3">
    
    <h3>Available Room List:{{rooms.availableRooms}}</h3>

    <app-rooms-list [rooms]="roomsList" (selectedRoom) ="selectRooms($event)"  ></app-rooms-list>

  
    <!-- {{roomsList}} -->
    <div *ngIf="selectedRoom" >
        {{selectedRoom|json}}
    </div>
    
   
</div>



